

<div class="container">
  <br />
  <div style="text-align:right;">
    <input type="button" value="View PDF" class="btn btn-success" (click)="viewReportPDF()"><!--SavePDF-->
    <!--<input type="button" value="View Report PDF" class="btn btn-success" (click)="ViewReport()">-->
  </div>
  <!-- routerlink="report-test"
    <div class="pdf-viewer-viewer-window">
    <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
              [original-size]="false"
              style="width: 400px; height: 500px">
    </pdf-viewer>
  </div>-->
  <div class="container" id="content" #content>
    <div class="page-header">
      <div style="text-align:center;">
        <h1 class="display-4">Employees Report</h1>

      </div>
    </div>
    <br />


    <table class="table table-striped">

      <thead class="thead-light">
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Age</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of empsList">
          <td>{{item.ID}}</td>
          <td>{{item.E_Name}}</td>
          <td>{{item.Age}}</td>
          <td>{{item.D_Name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br /><br />

</div>
